body {
    background-color: grey;
}

.container {
    background-color: black;
    width: 300px;
    height: 600px;
    margin: 20px auto;
    border-radius: 50px;
    border: 15px;
    padding: 3px;
    border-color: white;
    border-style: solid;
}

.container #red {
    
    width: 150px;
    height: 150px;
    margin: 30px auto;
    border-radius: 100px;
}

.container #yellow {
    
    width: 150px;
    height: 150px;
    margin: 30px auto;
    border-radius: 100px;
}

.container #green {
    
    width: 150px;
    height: 150px;
    margin: 30px auto;
    border-radius: 100px;
}